name: NBA Prediction Update
on:
  schedule:
    - cron: '0 6 * * *'
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write # Zásadní pro možnost uložení souborů
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'
      - name: Install dependencies
        run: pip install pandas nba_api scikit-learn joblib
      - name: Run Pipeline
        run: python main_nba_pipeline.py
      - name: Commit and Push
        run: |
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Action"
          git add nba_data_final.csv nba_model.pkl
          git commit -m "Auto-update NBA Model $(date +'%Y-%m-%d')" || exit 0
          git push
